#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.track-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  margin: .175rem;
  padding: .5rem;
  border-radius: 8px;
}

.delete {
  background-color: red;
  cursor: pointer;
}

.track-list {
  background-color: antiquewhite;
  margin: 1rem 0;
  padding: 1rem .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}